@require './palette.styl';

body {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.44px;
  color: $textColor;
}

a {
  color: $linkColor;
}

p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.44px; 
}